.form-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0002;
    backdrop-filter: blur(2px);
    transition: transform 100ms ease;
    z-index: 1;

}
.form__close{
    transform: scale(0);
}
.form{
    width: 100%;
    max-width: 25em;
    padding: 3em 2em 2em;
    background-color: white;
    border-radius: 0.8em;
    position: relative;
}
.form__exit{
position: absolute;
font-size: 1.2em;
right: 1.8em;
top: 1em;
color: red;
cursor: pointer;

}
.form__title{
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 1em;

}
.form__list{
    display: grid;
    gap: 1em;
    margin-bottom: 1.5em;
}
.form__field{
    display: grid;
    gap: 0.4em;
}
.form__label{
    font-size: 0.9em;
    padding-left: 1em;

}
.form__input{
    padding: 0.1em 1em;
    font-weight: 300;
    border-radius: 0.4em;
    border: 0.1em solid #ccc;

}
.form__btn{
    width: 100%;
    padding: 0.6em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 0.5em;
    background-color: blue;
    color: white;

}
h5{
    margin: 0;
    font-size: 0.6em;
    color: red;
}