.user__container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18em ,1fr));
    justify-items: center;
    gap: 2em;
    
}
/*header del container*/
.Header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2em;
    background-color: rgb(253, 253, 241);
    border: 1px solid;
    margin-bottom: 10px;

}


.Header__Title{
    text-transform: capitalize;
}
.Header__Button{
    border-radius: 0.5em;
    background-color: rgb(146, 6, 146);
    color: white;
    font-weight: 500;
    box-shadow: 4px 5px 3px black;
  &:hover{
    filter: brightness(0.8);
  }
   
}
